#header {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #066F0162;
    z-index: 4;
    transition: top 0.3s;
}

#header #logo {
    width: max(100px, 7.5%);
    align-self: center;
    margin-left: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

#header #logo:hover {
    transform: scale(1.1);
}


#header #nav-container {
    margin-left: auto;
    margin-right: 3.5vw;
}

#header #nav-container #list-container {
    display: flex;
    column-gap: 1vw;
    list-style: none;
}

#header #nav-container #list-container .list {
    display: flex;
    align-items: center;
}

#header #nav-container #list-container .list .element {
    text-decoration: none;
    font-family: monospace, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFF;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: color 0.3s;
}

#header #nav-container #list-container .list .element:active {
    border: 2px solid #54038a;
}

@media screen and (min-width: 768px) {
    #header #nav-container {
        display: block;
    }

    #header i {
        display: none;
    }

    #header #nav-container #list-container .list .element:hover {
        color: #3DC507;
    }

    #header #nav-container #list-container .list .element::after {
        content: "";
        display: block;
        background-color: #D19106;
        height: 3px;
        width: 0;
        margin-inline: auto;
        border-radius: 1.5px;
        transition: width 0.3s;
    }

    #header #nav-container #list-container .list .element:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #header #logo {
        margin-left: 10%;
    }

    #header i {
        margin-right: 2rem;
        font-size: 2rem;
        transition: transform 0.3s;
    }

    #header i:active {
        transform: scale(0.8);
    }

    #header #nav-container {
        display: flex;
        position: absolute;
        top: 10vh;
        left: 200%;
        transform: translateX(-100%);
        width: 90%;
        height: 200px;
        border-radius: 5px;
        background-color: #036D19;
        transition: left 0.4s;
    }

    #header #nav-container #list-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header #nav-container #list-container .list {
        width: 100%;
        height: 25%;
        border-radius: 5px;
        border-bottom: 1px solid #808080;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header #nav-container #list-container .list:active {
        background-color: #3DC507;
    }

    #header #nav-container #list-container .list .element {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    #header #nav-container #list-container .list .element:active {
        border: none;
    }
}
