@media screen and (max-width: 768px) {
    .wrapper {
        #section1 {
            height: 40vh;
            padding-block: 170px;

            #section1background {
                top: 15%;
                width: 100%;
            }

            .wellcome-text-container {
                width: 100%;
                margin-bottom: 30vh;

                .container {
                    #wellcome-text {
                        font-size: 2rem;
                    }

                    h2 {
                        font-size: 2rem;
                    }

                    .skill-texts {
                        h3 {
                            font-size: 1.5rem;
                        }

                        .skill-text-conatienr {
                            margin-inline: 15px;
                            height: 40px;

                            .skill-text {
                                font-size: 1.5rem;
                                animation: slide-animation 8s linear infinite;
                            }
                        }
                    }
                }
            }

        }

        #about {
            flex-direction: column-reverse;

            #about-text-container {
                padding: 10px 20px;
                width: 80%;
                height: 40%;

                .header {
                    font-size: 1rem;
                }

                .paragraph {
                    font-size: 1rem;
                }

                .emphasis {
                    font-size: 1rem;
                }

                .emoji {
                    font-size: 1rem;
                }

            }
        }

        #skill {
            .skill-wrapper {
                flex-direction: column;
                align-items: center;
                row-gap: 20px;

                .skill-container {
                    width: 300px;
                    height: 170px;
                }
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            height: 800px;

            #footer-container1,
            #footer-container2 {
                width: 100%;
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #footer-container1 {
                display: flex;
                justify-content: end;

                .contact-text-container {
                    width: 80%;
                    row-gap: 20px;

                    h1 {
                        font-size: 3.0rem;
                    }
                }
            }

            #footer-container2 {
                form {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }

    }

    @keyframes slide-animation {
        0% {
            bottom: -19%;
        }

        30% {
            bottom: -19%;
        }

        35% {
            bottom: 180%;
        }

        65% {
            bottom: 180%;
        }

        70% {
            bottom: 380%;
        }

        80% {
            bottom: 380%;
        }

        90% {
            bottom: 580%;
        }

        100% {
            bottom: 580%;
        }
    }
}