$defaultFont: monospace;
$defaultTextColor: #FFF;
$backgroundColor: #031029;
$footerBackgroundColor: #0C0B0B;
$footerLinkColor: #FF5722;
$footerButtonColor: #8D1D2F;
$footerButtonHoverColor: #F07B8E;

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    width: min(100vw, 1960px);
    background: $backgroundColor;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    #section1,
    #about,
    #skill,
    footer {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    #section1 {
        position: relative;
        justify-content: space-evenly;
        align-items: center;

        .wellcome-text-container {
            width: 90%;
            height: 50%;
            margin-top: auto;
            margin-bottom: 15vh;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;

                #wellcome-text {
                    background: linear-gradient(90deg, #833AB4 0%, #FD1D1D 45%, #FCB045 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: $defaultFont;
                    font-size: clamp(1.5rem, 4vw, 5rem);
                    background-size: 400%;
                    animation: gradient-animation 2s ease-in-out infinite;
                }

                h2 {
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-size: clamp(1.8rem, 5vw, 5rem);
                }

                .skill-texts {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-size: clamp(1.3rem, 5vw, 5rem);

                    h3 {
                        display: flex;
                        text-align: center;

                        .skill-text-conatiner {
                            display: flex;
                            flex-direction: column;
                            margin-inline: 20px;
                            height: clamp(10px, 6.8vw, 10vw);
                            overflow: hidden;

                            .skill-text {
                                background: linear-gradient(90deg, #833AB4 0%, #FD1D1D 45%, #FCB045 100%);
                                -webkit-background-clip: text;
                                background-clip: text;
                                color: transparent;
                                animation: slide-animation 10s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }
    }

    /* about Page */

    #about {
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        background: #2A3F65;

        .my-image {
            width: 30%;
            height: 50%;
            border-radius: 50%/20px;
        }

        #about-text-container {
            width: 40%;
            height: 50%;
            padding: 1vh 2vw;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 15px;
            background: #303168;

            p {
                font-family: monospace;
                font-weight: 700;
            }

            .header {
                color: #FFF;
                font-size: clamp(0.6rem, 1.8vw, 3rem);
            }

            .paragraph {
                color: #F0F0F0;
                font-size: clamp(0.6rem, 1.3vw, 3rem);
            }

            .emphasis {
                color: #FF5722;
                font-size: clamp(0.6rem, 1.5vw, 3rem);
            }

            .emoji {
                font-size: clamp(0.6rem, 1.8vw, 3rem);
            }
        }
    }

    /* skill page */

    #skill {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000; 
      
        .skill-container {
          position: relative;
          background: #222;
          height: 40vh;
          width: 70vw;
          display: flex;
          align-items: center;
          margin: 0 auto;
          overflow-x: scroll;
          overflow-y: hidden;
          border: 2px solid #333;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          cursor: grab;
          transition: transform 0.3s ease-in-out;
      
          .img-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 70%;
            width: 200px;
            margin-right: 55px;
            margin-left: auto;
            background: #444; /* Container background color */
            padding: 25px;
            border-radius: 20px;
            transition: background-color 0.3s ease-in-out; /* Hover effect */
      
            &:last-child {
              margin-right: 0;
            }
      
            .skill-logo {
              margin-bottom: auto;
              height: 50%;
              width: clamp(85px, 150px, 250px);
              transition: transform 0.3s ease-in-out;
            }
      
            .logo-name {
              margin-bottom: auto;
              color: #fff;
              font-family: $defaultFont, sans-serif;
              font-weight: 700;
              font-size: 1.5rem;
            }
      
            &.flask {
              .skill-logo {
                border-radius: 10px;
                background: #00a5cf;
                padding: 5px;
              }
      
              &:hover {
                background: #0094b0;
              }
            }
      
            &:hover {
              background: #555;
            }
          }
      
          &::-webkit-scrollbar {
            width: 10px;
          }
      
          &::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 5px;
          }
      
          &::-webkit-scrollbar-track {
            background: #333;
          }
        }
      }
      
            



    footer {
        overflow-x: hidden;
        position: relative;
        background: $footerBackgroundColor;

        #footer-container1,
        #footer-container2 {
            width: 50%;
            height: 90vh;
            display: flex;
            align-self: flex-end;
        }

        #footer-container1 {
            align-items: center;
            flex-direction: column;

            .contact-text-container {
                width: 70%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 2.5vh;

                h1 {
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-weight: 700;
                    font-size: clamp(3rem, 5.5vw, 5rem);
                }

                i {
                    padding-inline-end: 20px;
                    font-size: clamp(1rem, 2vw, 2rem);
                }

                p {
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-weight: 700;
                    font-size: clamp(1rem, 2vw, 2rem);
                }

                .personal-contact {
                    display: flex;
                    max-width: 10%;

                    a {

                        i {
                            font-size: clamp(1.5rem, 2.5vw, 2rem);
                            transition: transform 0.3s;

                            &:hover {
                                transform: scale(1.3);
                            }

                            &:active {
                                transform: scale(0.9);
                            }
                        }
                    }

                }
            }
        }

        #footer-container2 {
            justify-content: center;
            align-items: center;

            .form-container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                align-self: flex-start;

                form {
                    margin-left: 10%;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 2.5vh;

                    .input-field {
                        border-radius: 5px;
                        border: none;
                        background: #524E4E;
                        font-size: 1.2rem;
                        width: 90%;
                        height: 30px;
                        padding: 10px 20px;
                        color: $defaultTextColor;

                        &::placeholder {
                            color: $defaultTextColor;
                        }
                    }

                    #message-field {
                        resize: none;
                        height: 150px;
                    }


                    .send-area {
                        display: flex;
                        gap: 30px;
                        align-items: center;

                        #submit-button {
                            width: 30%;
                            height: 40px;
                            background: $footerButtonColor;
                            border-radius: 5px;
                            border: none;
                            font-weight: 700;
                            font-size: 1.25rem;
                            color: $defaultTextColor;
                            cursor: pointer;
                            transition: background-color 0.3s, transform 0.3s;

                            @media screen and (min-width: 768px) {
                                &:hover {
                                    background: $footerButtonHoverColor;
                                }
                            }

                            &:active {
                                background: $footerButtonHoverColor;
                                transform: scale(0.9);
                            }
                        }

                        #response {
                            color: $defaultTextColor;
                            font-size: 1.25rem;
                            font-family: $defaultFont;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.svgpart {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-5px) scaleX(1.01);
}

@keyframes scroll-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@keyframes slide-animation {
    0% {
        transform: translateY(-0%);
    }

    30% {
        transform: translateY(-0%);
    }

    35% {
        transform: translateY(-100%);
    }

    65% {
        transform: translateY(-100%);
    }

    70% {
        transform: translateY(-200%);
    }

    80% {
        transform: translateY(-200%);
    }

    90% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-300%);
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
