* {
    margin: 0;
    padding: 0;
}

$defaultFont: monospace;
$defaultTextColor: #FFF;

body {
    width: min(100vw, 1960px);
    background: #062052;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    #section1 {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .wellcome-text-container {
            width: 90%;
            height: 50%;
            margin-top: auto;
            margin-bottom: 15vh;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;

                #wellcome-text {
                    background: linear-gradient(90deg, #833AB4 0%, #FD1D1D 45%, #FCB045 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: $defaultFont;
                    font-size: 3.5rem;
                    background-size: 400%;
                    animation: gradient-animation 2s ease-in-out infinite;
                }

                h2 {
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-size: 4rem;
                }

                .skill-texts {
                    position: relative;
                    display: flex;
                    align-items: center;
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-size: 4.5rem;

                    .skill-text-conatienr {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-inline: 25px;
                        height: 90px;
                        overflow: hidden;

                        .skill-text {
                            background: linear-gradient(to right, #f5af19, #f12711);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            display: flex;
                            flex-direction: column;
                            font-size: 4.5rem;
                            font-weight: 700;
                            position: relative;
                            margin-bottom: 50px;
                            animation: slide-animation 8s linear infinite;
                        }
                    }
                }
            }
        }

    }

    /* about Page */

    #about {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #about-text-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: visible;
            animation: scroll-animation linear;
            animation-timeline: view();

            .header {
                position: absolute;
                top: 20%;
                left: 10%;
                max-width: 600px;
                padding: 15px;
                background: #303168;
                color: #FFF;
                font-size: 24px;
                font-weight: 700;
                font-family: monospace;
                border-radius: 20px;
                transition: 0.3s;

                &:hover {
                    background: #303180;
                    transform: scale(1.1);
                }
            }

            .paragraph {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 600px;
                padding: 15px;
                background: #303168;
                color: #F0F0F0;
                font-size: 18px;
                font-family: monospace;
                font-weight: 700;
                border-radius: 20px;
                transition: 0.3s;

                &:hover {
                    background: #303180;
                    transform: scale(1.1);
                }
            }

            .emphasis {
                position: absolute;
                top: 80%;
                left: 20%;
                max-width: 600px;
                padding: 15px;
                background: #303168;
                color: #FF5722;
                font-size: 20px;
                font-weight: 700;
                font-family: monospace;
                border-radius: 20px;
                transition: 0.3s;

                &:hover {
                    background: #303180;
                    transform: scale(1.1);
                }
            }

            .emoji {
                font-size: 24px;
            }

        }

        #svg-animation {
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            width: 70%;
            transform: translate(-50%, -50%);
            filter: blur(20px);
        }
    }

    /* skill page */

    #skill {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-box {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
            margin-left: 20px;
            background: #FFF;
            padding: 23px;

            img {
                height: 120%;
                width: 120%;
            }
        }

        #skill-icon-container1 {
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
            opacity: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            transition: 0.5s ease-in-out;
        }

        #skill-icon-container2 {
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 40%;
            opacity: 0;
            display: flex;
            transition: 0.5s ease-in-out;
        }

        #skill-icon-container3 {
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 40%;
            opacity: 0;
            display: flex;
            transition: 0.5s ease-in-out;
        }

        .grid-container {
            display: flex;
            width: max(200px, 80%);
            height: min(150px, 50%);
            flex-wrap: wrap;
            column-gap: 50px;
            margin-top: 210px;

            .skill-container {
                position: relative;
                display: flex;
                flex-direction: column;
                margin: 15px auto auto auto;
                width: 290px;
                height: max(200px, 25%);
                background: #0575E6;
                border-radius: 20px;
                overflow: hidden;
                transition: 0.3s;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 50%;
                }

                #paragraph-container {
                    height: 40%;
                    width: 90%;
                    margin-top: 8px;
                    align-self: center;

                    p {
                        color: $defaultTextColor;
                        font-family: $defaultFont;
                        font-weight: 700;
                        font-size: 20px;
                        text-align: center;
                        margin: auto;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    background: #FC4A1A;
                }

                &:active {
                    transform: scale(1);
                }


                &:active {
                    transform: scale(0.9);
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 100vh;
        background: #0C0B0BE1;
        display: flex;
        justify-content: space-between;

        #footer-container1 {
            width: 50%;
            height: 90vh;
            display: flex;
            align-self: flex-end;
            align-items: center;
            flex-direction: column;

            .contact-text-container {
                width: 70%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 30px;


                h1 {
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-weight: 700;
                    font-size: 4.4rem;
                }

                i {
                    padding-inline-end: 20px;
                    font-size: 1.5rem;
                }

                p {
                    color: $defaultTextColor;
                    font-family: $defaultFont;
                    font-weight: 700;
                    font-size: 1.25rem;
                }

                .personal-contact {
                    display: flex;
                    max-width: 10%;

                    a {

                        i {
                            font-size: 2rem;
                            transition: transform 0.3s;

                            &:hover {
                                transform: scale(1.3);
                            }

                            &:active {
                                transform: scale(0.9);
                            }
                        }
                    }

                }
            }
        }

        #footer-container2 {
            width: 50%;
            height: 90vh;
            display: flex;
            align-self: flex-end;
            justify-content: center;
            align-items: center;

            .form-container {
                display: flex;
                align-items: center;
                align-self: flex-start;
                width: 100%;
                height: 100%;

                form {
                    margin-left: 10%;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;

                    .input-field {
                        border-radius: 5px;
                        border: none;
                        background: #524E4E;
                        font-size: 1.2rem;
                        width: 90%;
                        height: 30px;
                        padding: 10px 20px;
                        color: $defaultTextColor;

                        &::placeholder {
                            color: $defaultTextColor;
                        }
                    }

                    #message-field {
                        height: 150px;
                    }


                    .send-area {
                        display: flex;
                        gap: 30px;
                        align-items: center;

                        #submit-button {
                            width: 30%;
                            height: 40px;
                            background: #8D1D2F;
                            border-radius: 5px;
                            border: none;
                            font-weight: 700;
                            font-size: 1.25rem;
                            color: #FFF;
                            cursor: pointer;
                            transition: background-color 0.3s, transform 0.3s;

                            &:hover {
                                background: #F07B8E;
                            }

                            &:active {
                                transform: scale(0.9);
                            }
                        }

                        #response {
                            color: #FFF;
                            font-size: 1.25rem;
                            font-family: monospace;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@keyframes scroll-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@keyframes slide-animation {
    0% {
        bottom: -5%;
    }

    30% {
        bottom: -5%;
    }

    35% {
        bottom: 145%;
    }

    65% {
        bottom: 145%;
    }

    70% {
        bottom: 295%;
    }

    80% {
        bottom: 295%;
    }

    90% {
        bottom: 445%;
    }

    100% {
        bottom: 445%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}