* {
  margin: 0;
  padding: 0;
}

body {
  width: min(100vw, 1960px);
  background: #062052;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* about Page */
  /* skill page */
}
.wrapper #section1,
.wrapper #about,
.wrapper #skill,
.wrapper footer {
  width: 100%;
  height: 100vh;
  display: flex;
}
.wrapper #section1 {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper #section1 .wellcome-text-container {
  width: 90%;
  height: 50%;
  margin-top: auto;
  margin-bottom: 15vh;
}
.wrapper #section1 .wellcome-text-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper #section1 .wellcome-text-container .container #wellcome-text {
  background: linear-gradient(90deg, #833AB4 0%, #FD1D1D 45%, #FCB045 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: monospace;
  font-size: clamp(0.5rem, 4vw, 5rem);
  background-size: 400%;
  animation: gradient-animation 2s ease-in-out infinite;
}
.wrapper #section1 .wellcome-text-container .container h2 {
  color: #FFF;
  font-family: monospace;
  font-size: clamp(0.5rem, 5vw, 5rem);
}
.wrapper #section1 .wellcome-text-container .container .skill-texts {
  position: relative;
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: monospace;
  font-size: 4.5rem;
}
.wrapper #section1 .wellcome-text-container .container .skill-texts .skill-text-conatienr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 25px;
  height: 90px;
  overflow: hidden;
}
.wrapper #section1 .wellcome-text-container .container .skill-texts .skill-text-conatienr .skill-text {
  background: linear-gradient(to right, #F5AF19, #f12711);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  animation: slide-animation 8s linear infinite;
}
.wrapper #about {
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.wrapper #about #about-text-container {
  width: 40%;
  height: 50%;
  padding: 1vh 2vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  background: #303168;
}
.wrapper #about #about-text-container p {
  font-family: monospace;
  font-weight: 700;
}
.wrapper #about #about-text-container .header {
  color: #FFF;
  font-size: clamp(0.6rem, 1.8vw, 3rem);
}
.wrapper #about #about-text-container .paragraph {
  color: #F0F0F0;
  font-size: clamp(0.6rem, 1.3vw, 3rem);
}
.wrapper #about #about-text-container .emphasis {
  color: #FF5722;
  font-size: clamp(0.6rem, 1.5vw, 3rem);
}
.wrapper #about #about-text-container .emoji {
  font-size: clamp(0.6rem, 1.8vw, 3rem);
}
.wrapper #about #svg-animation {
  z-index: -1;
  width: 40%;
  filter: blur(20px);
}
.wrapper #skill {
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.wrapper #skill .skill-wrapper {
  display: flex;
  width: 90%;
  column-gap: 30px;
}
.wrapper #skill .skill-wrapper .skill-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}
.wrapper #skill .skill-wrapper .skill-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.wrapper #skill .skill-wrapper .skill-container .light-effect {
  position: absolute;
  top: 80%;
  width: 101%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 98, 128, 0.1333333333);
  backdrop-filter: blur(20px);
  transition: 0.5s;
}
.wrapper #skill .skill-wrapper .skill-container .light-effect:hover {
  top: 0%;
}
.wrapper #skill .skill-wrapper .skill-container .light-effect h1 {
  position: absolute;
  top: 4%;
  left: 5%;
  color: #FFF;
  font-size: clamp(1rem, 5vw, 2rem);
  font-family: monospace;
  font-weight: 700;
}
.wrapper #skill .skill-wrapper .skill-container .light-effect .skill-logo-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}
.wrapper #skill .skill-wrapper .skill-container .light-effect .skill-logo-container img {
  border-radius: 0;
  width: 25%;
}
.wrapper #skill .skill-wrapper .skill-container .light-effect .skill-logo-container .image-resize {
  width: 40%;
}
.wrapper footer {
  background: rgba(12, 11, 11, 0.8823529412);
}
.wrapper footer #footer-container1,
.wrapper footer #footer-container2 {
  width: 50%;
  height: 90vh;
  display: flex;
  align-self: flex-end;
}
.wrapper footer #footer-container1 {
  align-items: center;
  flex-direction: column;
}
.wrapper footer #footer-container1 .contact-text-container {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.wrapper footer #footer-container1 .contact-text-container h1 {
  color: #FFF;
  font-family: monospace;
  font-weight: 700;
  font-size: 4.4rem;
}
.wrapper footer #footer-container1 .contact-text-container i {
  padding-inline-end: 20px;
  font-size: 1.5rem;
}
.wrapper footer #footer-container1 .contact-text-container p {
  color: #FFF;
  font-family: monospace;
  font-weight: 700;
  font-size: 1.25rem;
}
.wrapper footer #footer-container1 .contact-text-container .personal-contact {
  display: flex;
  max-width: 10%;
}
.wrapper footer #footer-container1 .contact-text-container .personal-contact a i {
  font-size: 2rem;
  transition: transform 0.3s;
}
.wrapper footer #footer-container1 .contact-text-container .personal-contact a i:hover {
  transform: scale(1.3);
}
.wrapper footer #footer-container1 .contact-text-container .personal-contact a i:active {
  transform: scale(0.9);
}
.wrapper footer #footer-container2 {
  justify-content: center;
  align-items: center;
}
.wrapper footer #footer-container2 .form-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 100%;
}
.wrapper footer #footer-container2 .form-container form {
  margin-left: 10%;
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
}
.wrapper footer #footer-container2 .form-container form .input-field {
  border-radius: 5px;
  border: none;
  background: #524E4E;
  font-size: 1.2rem;
  width: 90%;
  height: 30px;
  padding: 10px 20px;
  color: #FFF;
}
.wrapper footer #footer-container2 .form-container form .input-field::placeholder {
  color: #FFF;
}
.wrapper footer #footer-container2 .form-container form #message-field {
  height: 150px;
}
.wrapper footer #footer-container2 .form-container form .send-area {
  display: flex;
  gap: 30px;
  align-items: center;
}
.wrapper footer #footer-container2 .form-container form .send-area #submit-button {
  width: 30%;
  height: 40px;
  background: #8D1D2F;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1.25rem;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
@media screen and (min-width: 768px) {
  .wrapper footer #footer-container2 .form-container form .send-area #submit-button:hover {
    background: #F07B8E;
  }
}
.wrapper footer #footer-container2 .form-container form .send-area #submit-button:active {
  background: #F07B8E;
  transform: scale(0.9);
}
.wrapper footer #footer-container2 .form-container form .send-area #response {
  color: #FFF;
  font-size: 1.25rem;
  font-family: monospace;
  font-weight: 700;
}

@keyframes scroll-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes slide-animation {
  0% {
    bottom: -5%;
  }
  30% {
    bottom: -5%;
  }
  35% {
    bottom: 145%;
  }
  65% {
    bottom: 145%;
  }
  70% {
    bottom: 295%;
  }
  80% {
    bottom: 295%;
  }
  90% {
    bottom: 445%;
  }
  100% {
    bottom: 445%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
