* {
    margin: 0;
    padding: 0;
}

$defaultFont: monospace;
$defaultTextColor: #FFF;

body {
    width: min(100vw, 1960px);
    background: #062052;
    overflow-x: hidden;
}

.section1 {
    width: 100%;
    height: 90vh;
    padding-inline: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wellcome-text-container {
        width: 40%;
        height: 50%;

        .container {
            margin-top: 5vh;
            margin-left: 5vh;

            h1 {
                color: $defaultTextColor;
                font-family: $defaultFont;
                font-size: 3rem;
            }

            h2 {
                color: $defaultTextColor;
                font-family: $defaultFont;
                font-size: 2rem;
            }


            .skill-texts {
                position: relative;
                display: flex;
                align-items: center;
                color: $defaultTextColor;
                font-family: $defaultFont;
                font-size: 2rem;

                .skill-text-conatienr {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 40px;
                    overflow: hidden;

                    .skill-text {
                        font-size: 2rem;
                        background: linear-gradient(to right, #f5af19, #f12711);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        display: flex;
                        flex-direction: column;
                        font-weight: 700;
                        position: relative;
                        margin-bottom: 35px;
                        animation: identifier 12s infinite;
                    }
                }
            }



        }
    }

}

/* about Page */

.about-section1 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #about-text-container {
        max-width: 90%;
        text-align: center;

        * {
            border-radius: 20px;
            font-weight: 700;
            transition: 0.3s;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px 10px #001C77;
            }
        }

        .header {
            font-size: 24px;
            font-weight: bold;
            color: #FFF;
        }

        .paragraph {
            font-size: 18px;
            color: #F0F0F0;
            margin: 20px 0;
        }

        .emphasis {
            font-size: 20px;
            color: #FF5722;
        }

        .emoji {
            font-size: 24px;
            margin-right: 8px;
            vertical-align: middle;
        }

    }

    #svg-animation {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: blur(20px);
    }
}

@keyframes identifier {
    0% {
        bottom: -2px;
    }

    30% {
        bottom: -2px;
    }

    35% {
        bottom: 70px;
    }

    65% {
        bottom: 70px;
    }

    70% {
        bottom: 141px;
    }

    80% {
        bottom: 141px;
    } 

    90% {
        bottom: 216px;
    }

    100% {
        bottom: 216px;
    }
}