* {
  margin: 0;
  padding: 0;
}

body {
  width: min(100vw, 1960px);
  background: #062052;
  overflow-x: hidden;
}

.section1 {
  width: 100%;
  height: 90vh;
  padding-inline: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .wellcome-text-container {
  width: 40%;
  height: 50%;
}
.section1 .wellcome-text-container .container {
  margin-top: 5vh;
  margin-left: 5vh;
}
.section1 .wellcome-text-container .container h1 {
  color: #FFF;
  font-family: monospace;
  font-size: 3rem;
}
.section1 .wellcome-text-container .container h2 {
  color: #FFF;
  font-family: monospace;
  font-size: 2rem;
}
.section1 .wellcome-text-container .container .skill-texts {
  position: relative;
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: monospace;
  font-size: 2rem;
}
.section1 .wellcome-text-container .container .skill-texts .skill-text-conatienr {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  overflow: hidden;
}
.section1 .wellcome-text-container .container .skill-texts .skill-text-conatienr .skill-text {
  font-size: 2rem;
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  position: relative;
  margin-bottom: 35px;
  animation: slide-animation 8s linear infinite;
}

/* about Page */
.about-section1 {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section1 #about-text-container {
  max-width: 90%;
  text-align: center;
}
.about-section1 #about-text-container .header {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  border-radius: 20px;
  font-weight: 700;
  transition: 0.3s;
  padding: 10px;
}
.about-section1 #about-text-container .header:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 10px #047700;
}
.about-section1 #about-text-container .paragraph {
  font-size: 18px;
  color: #F0F0F0;
  margin: 20px 0;
  border-radius: 20px;
  font-weight: 700;
  transition: 0.3s;
  padding: 10px;
}
.about-section1 #about-text-container .paragraph:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 10px #047700;
}
.about-section1 #about-text-container .emphasis {
  font-size: 20px;
  color: #FF5722;
  border-radius: 20px;
  font-weight: 700;
  transition: 0.3s;
  padding: 10px;
}
.about-section1 #about-text-container .emphasis:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 10px #047700;
}
.about-section1 #about-text-container .emoji {
  font-size: 24px;
  margin-right: 8px;
  vertical-align: middle;
}
.about-section1 #svg-animation {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(20px);
}

/* Service page */
.service-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-section .grid-container {
  display: flex;
  width: 200px, 50%;
  height: max(200px, 50%);
}
@media screen and (max-width: 768px) {
  .service-section .grid-container {
    flex-direction: column;
  }
}
.service-section .grid-container .service-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: max(200px, 30%);
  height: max(200px, 25%);
  background: #08A0BB;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}
.service-section .grid-container .service-container img {
  width: 100%;
  height: 50%;
}
.service-section .grid-container .service-container p {
  color: #FFF;
  font-family: monospace;
  font-weight: 700;
  font-size: 1.15rem;
  text-align: center;
  margin: auto;
  max-width: 60%;
}
@media screen and (min-width: 768px) {
  .service-section .grid-container .service-container:hover {
    transform: scale(1.1);
    background: #F3675B;
  }
  .service-section .grid-container .service-container:active {
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  .service-section .grid-container .service-container .grid-container {
    flex-direction: column;
  }
  .service-section .grid-container .service-container:active {
    transform: scale(0.9);
  }
  .service-section .grid-container .service-container p {
    font-size: 0.8rem;
  }
}

@keyframes slide-animation {
  0% {
    bottom: -2px;
  }
  30% {
    bottom: -2px;
  }
  35% {
    bottom: 70px;
  }
  65% {
    bottom: 70px;
  }
  70% {
    bottom: 141px;
  }
  80% {
    bottom: 141px;
  }
  90% {
    bottom: 216px;
  }
  100% {
    bottom: 216px;
  }
}

/*# sourceMappingURL=style.css.map */
