@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background: #031029;
  overflow-x: hidden;
}

.loader-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed #444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25), inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed #444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25), inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  position: fixed;
  display: inline;
  z-index: 5;
  width: 100%;
  background: rgba(6, 111, 1, 0.3843137255);
  transition: top 0.3s;
}
.header .header-wrapper {
  width: min(100%, 1960px);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-wrapper .logo {
  width: max(100px, 10%);
  width: clamp(100px, 10%, 30%);
  margin-left: 8vw;
}
.header .header-wrapper .nav-bar {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-right: 15vw;
}
.header .header-wrapper .nav-bar .element {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: monospace, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFF;
  padding: 5px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.header .header-wrapper .nav-bar .element:active {
  border: 2px solid #54038A;
}
.header .header-wrapper .nav-bar #logoIcon {
  position: absolute;
  display: none;
  z-index: 15;
  transform: translateX(120%);
}
.header .header-wrapper .menu-bar {
  display: none;
  margin-right: 20px;
}
.header .header-wrapper .menu-bar i {
  font-size: 2rem;
  padding: 5px 15px;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#section1 .section1-wrapper {
  width: min(100%, 1960px);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section1 .section1-wrapper .my-image1 {
  width: max(200px, 25vw);
  border-radius: 20px;
}
#section1 .section1-wrapper .welcome-text-container {
  font-size: 1.57vw;
  font-size: clamp(12px, 1.57vw, 30px);
  font-family: monospace;
  font-weight: 700;
  color: #FFF;
}
#section1 .section1-wrapper .welcome-text-container .welcome-text {
  font-size: 2.25em;
}
#section1 .section1-wrapper .welcome-text-container .text1 {
  background: linear-gradient(90deg, #833AB4 0%, #FD1D1D 45%, #FCB045 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#section1 .section1-wrapper .welcome-text-container .text3 {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}
#section1 .section1-wrapper .welcome-text-container .text3 .skill-text {
  height: max(4vh, 4vw);
  overflow: hidden;
}
#section1 .section1-wrapper .welcome-text-container .text3 .skill-text .skill-name {
  font-size: 1em;
  text-align: center;
  background: linear-gradient(90deg, #833AB4 0%, #FD1D1D 45%, #FCB045 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: slide-animation 4s ease-in-out infinite;
}

#section2 {
  display: flex;
  justify-self: center;
  align-items: center;
}
#section2 .section2-wrapper {
  width: min(100%, 1960px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
#section2 .section2-wrapper .my-image2 {
  width: max(300px, 30%);
  border-radius: 50%/20px;
}
#section2 .section2-wrapper .about-text-container {
  width: max(300px, 45%);
  height: 100%;
  background: #2A3F65;
  padding: 20px 25px;
  font-size: 1.57vw;
  font-size: clamp(13px, 1.57vw, 30px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section2 .section2-wrapper .about-text-container .part {
  font-family: monospace;
  font-weight: 700;
}
#section2 .section2-wrapper .about-text-container .first-part {
  color: #F0F0F0;
  font-size: 1.35em;
}
#section2 .section2-wrapper .about-text-container .second-part {
  margin-block: 25px;
  color: #00A2FF;
  font-size: 1.15em;
}
#section2 .section2-wrapper .about-text-container .three-part {
  color: #FFFF00;
  font-size: 1em;
}

#section3 {
  position: relative;
  display: flex;
  justify-content: center;
}
#section3 #wave {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
#section3 .section3-wrapper {
  width: min(100%, 1960px);
  display: flex;
  justify-content: space-around;
  padding-top: 15vh;
}
#section3 .section3-wrapper .main-container {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
#section3 .section3-wrapper .main-container .drop-down-button,
#section3 .section3-wrapper .main-container .skill-container {
  height: 60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 20px;
}
#section3 .section3-wrapper .main-container .drop-down-button {
  color: #FFF;
  font-size: 1rem;
  font-family: monospace;
  font-weight: 700;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: 0.3s;
}
#section3 .section3-wrapper .main-container .drop-down-button .fa-solid {
  font-size: 1.8rem;
  transition: transform 0.3s;
}
#section3 .section3-wrapper .main-container .skill-container {
  background: #333;
  transform: translateY(-15px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
#section3 .section3-wrapper .main-container .skill-container .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FFF;
  padding: 10px;
}
#section3 .section3-wrapper .main-container .skill-container .img-box .skill-logo {
  width: 30px;
}
#section3 .section3-wrapper .main-container .skill-container .skill-text {
  color: #FFF;
  font-family: monospace;
  font-size: clamp(8px, 1.5vw, 2rem);
  font-weight: 700;
}

#section4 {
  background: #000;
}
#section4 .section4-wrapper {
  width: min(100%, 1960px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section4 .section4-wrapper .side-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #section4 .section4-wrapper .side-container {
    width: 100%;
    height: 50%;
  }
}
#section4 .section4-wrapper .side-container .ryw23-2 {
  width: 70%;
  height: 50%;
}
#section4 .section4-wrapper .side-container .ryw23-2 .contact-text,
#section4 .section4-wrapper .side-container .ryw23-2 .email {
  font-weight: 700;
  color: #FFF;
}
#section4 .section4-wrapper .side-container .ryw23-2 .contact-text {
  font-family: "Rubik Mono One", monospace;
  font-size: clamp(30px, 4vw, 70px);
}
#section4 .section4-wrapper .side-container .ryw23-2 .email {
  font-family: sans-serif;
  font-size: clamp(20px, 2vw, 50px);
}
#section4 .section4-wrapper .side-container .ryw23-2 .icon-container {
  margin-top: 10px;
  display: flex;
}
#section4 .section4-wrapper .side-container .ryw23-2 .icon-container a {
  font-size: clamp(20px, 2.3vw, 50px);
  margin-right: 15px;
  transition: transform 0.3s;
}
#section4 .section4-wrapper .side-container .ryw23-2 .icon-container a:hover {
  transform: scale(1.5);
}
#section4 .section4-wrapper .side-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3%;
  width: 60%;
  height: 50%;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  #section4 .section4-wrapper .side-container form {
    height: 400px;
    align-self: flex-start;
  }
}
#section4 .section4-wrapper .side-container form #message-field,
#section4 .section4-wrapper .side-container form .input-field {
  width: 100%;
  font-size: 16px;
  font-family: monospace;
  font-weight: 700;
  background: #333;
  color: #FFF;
  border: none;
  border-radius: 5px;
  outline: transparent;
}
#section4 .section4-wrapper .side-container form .input-field {
  height: 50px;
  padding: 15px 20px;
}
#section4 .section4-wrapper .side-container form #message-field {
  padding: 10px 20px;
  height: 20rem;
  resize: none;
}
#section4 .section4-wrapper .side-container form .send-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}
#section4 .section4-wrapper .side-container form .send-area #submit-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: clamp(16px, 1vw, 20px);
  font-family: monospace;
  font-weight: 700;
  background: #412BFC;
  color: #FFF;
  outline: transparent;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
#section4 .section4-wrapper .side-container form .send-area #submit-button:hover {
  background: #7F24FA;
}
#section4 .section4-wrapper .side-container form .send-area #submit-button:active {
  transform: scale(0.9);
}
#section4 .section4-wrapper .side-container form .send-area #response {
  color: #FFF;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: 700;
}

@keyframes slide-animation {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-200%);
  }
}

/*# sourceMappingURL=style.css.map */
