#section1background {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  #section1background {
    margin-top: 90%;
    width: 100%;
  }
}

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2637.101806640625px;
    stroke-dasharray: 2637.101806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2637.101806640625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2637.101806640625px;
    stroke-dasharray: 2637.101806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2637.101806640625px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s both;
  animation: animate-svg-stroke-1 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2561.047607421875px;
    stroke-dasharray: 2561.047607421875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2561.047607421875px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2561.047607421875px;
    stroke-dasharray: 2561.047607421875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2561.047607421875px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.12s both;
  animation: animate-svg-stroke-2 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2469.47412109375px;
    stroke-dasharray: 2469.47412109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2469.47412109375px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2469.47412109375px;
    stroke-dasharray: 2469.47412109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2469.47412109375px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.24s both;
  animation: animate-svg-stroke-3 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.24s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 2368.995849609375px;
    stroke-dasharray: 2368.995849609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2368.995849609375px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 2368.995849609375px;
    stroke-dasharray: 2368.995849609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2368.995849609375px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.36s both;
  animation: animate-svg-stroke-4 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.36s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 2261.599365234375px;
    stroke-dasharray: 2261.599365234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2261.599365234375px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 2261.599365234375px;
    stroke-dasharray: 2261.599365234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2261.599365234375px;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.48s both;
  animation: animate-svg-stroke-5 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 2151.315673828125px;
    stroke-dasharray: 2151.315673828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2151.315673828125px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 2151.315673828125px;
    stroke-dasharray: 2151.315673828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2151.315673828125px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.6s both;
  animation: animate-svg-stroke-6 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.6s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2003.378173828125px;
    stroke-dasharray: 2003.378173828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2003.378173828125px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2003.378173828125px;
    stroke-dasharray: 2003.378173828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2003.378173828125px;
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.72s both;
  animation: animate-svg-stroke-7 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.72s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 1887.0633544921875px;
    stroke-dasharray: 1887.0633544921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1887.0633544921875px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 1887.0633544921875px;
    stroke-dasharray: 1887.0633544921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1887.0633544921875px;
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.84s both;
  animation: animate-svg-stroke-8 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.84s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1757.9200439453125px;
    stroke-dasharray: 1757.9200439453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1757.9200439453125px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1757.9200439453125px;
    stroke-dasharray: 1757.9200439453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1757.9200439453125px;
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.96s both;
  animation: animate-svg-stroke-9 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.96s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 1649.6387939453125px;
    stroke-dasharray: 1649.6387939453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1649.6387939453125px;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 1649.6387939453125px;
    stroke-dasharray: 1649.6387939453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1649.6387939453125px;
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.08s both;
  animation: animate-svg-stroke-10 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.08s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 1527.403076171875px;
    stroke-dasharray: 1527.403076171875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1527.403076171875px;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 1527.403076171875px;
    stroke-dasharray: 1527.403076171875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1527.403076171875px;
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.2s both;
  animation: animate-svg-stroke-11 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.2s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 1428.36962890625px;
    stroke-dasharray: 1428.36962890625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1428.36962890625px;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 1428.36962890625px;
    stroke-dasharray: 1428.36962890625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1428.36962890625px;
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.3199999999999998s both;
  animation: animate-svg-stroke-12 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.3199999999999998s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 1324.0689697265625px;
    stroke-dasharray: 1324.0689697265625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1324.0689697265625px;
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 1324.0689697265625px;
    stroke-dasharray: 1324.0689697265625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1324.0689697265625px;
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.44s both;
  animation: animate-svg-stroke-13 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.44s both;
}

@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 1233.831298828125px;
    stroke-dasharray: 1233.831298828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1233.831298828125px;
  }
}

@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 1233.831298828125px;
    stroke-dasharray: 1233.831298828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1233.831298828125px;
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.56s both;
  animation: animate-svg-stroke-14 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.56s both;
}

@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 1139.4769287109375px;
    stroke-dasharray: 1139.4769287109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1139.4769287109375px;
  }
}

@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 1139.4769287109375px;
    stroke-dasharray: 1139.4769287109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1139.4769287109375px;
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.68s both;
  animation: animate-svg-stroke-15 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.68s both;
}

@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 1024.9954833984375px;
    stroke-dasharray: 1024.9954833984375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1024.9954833984375px;
  }
}

@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 1024.9954833984375px;
    stroke-dasharray: 1024.9954833984375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1024.9954833984375px;
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.7999999999999998s both;
  animation: animate-svg-stroke-16 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.7999999999999998s both;
}

@-webkit-keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 934.675537109375px;
    stroke-dasharray: 934.675537109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 934.675537109375px;
  }
}

@keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 934.675537109375px;
    stroke-dasharray: 934.675537109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 934.675537109375px;
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-stroke-17 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.92s both;
  animation: animate-svg-stroke-17 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.92s both;
}

@-webkit-keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 843.634521484375px;
    stroke-dasharray: 843.634521484375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 843.634521484375px;
  }
}

@keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 843.634521484375px;
    stroke-dasharray: 843.634521484375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 843.634521484375px;
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-stroke-18 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.04s both;
  animation: animate-svg-stroke-18 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.04s both;
}

@-webkit-keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 750.6393432617188px;
    stroke-dasharray: 750.6393432617188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 750.6393432617188px;
  }
}

@keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 750.6393432617188px;
    stroke-dasharray: 750.6393432617188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 750.6393432617188px;
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-stroke-19 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.16s both;
  animation: animate-svg-stroke-19 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.16s both;
}

@-webkit-keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 649.7280883789062px;
    stroke-dasharray: 649.7280883789062px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 649.7280883789062px;
  }
}

@keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 649.7280883789062px;
    stroke-dasharray: 649.7280883789062px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 649.7280883789062px;
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-stroke-20 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.28s both;
  animation: animate-svg-stroke-20 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.28s both;
}

@-webkit-keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 548.0499877929688px;
    stroke-dasharray: 548.0499877929688px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 548.0499877929688px;
  }
}

@keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 548.0499877929688px;
    stroke-dasharray: 548.0499877929688px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 548.0499877929688px;
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-stroke-21 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.4s both;
  animation: animate-svg-stroke-21 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.4s both;
}

@-webkit-keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 464.3312683105469px;
    stroke-dasharray: 464.3312683105469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 464.3312683105469px;
  }
}

@keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 464.3312683105469px;
    stroke-dasharray: 464.3312683105469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 464.3312683105469px;
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-stroke-22 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.52s both;
  animation: animate-svg-stroke-22 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.52s both;
}

@-webkit-keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 364.43585205078125px;
    stroke-dasharray: 364.43585205078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 364.43585205078125px;
  }
}

@keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 364.43585205078125px;
    stroke-dasharray: 364.43585205078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 364.43585205078125px;
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-stroke-23 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.6399999999999997s both;
  animation: animate-svg-stroke-23 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.6399999999999997s both;
}

@-webkit-keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 261.9464111328125px;
    stroke-dasharray: 261.9464111328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 261.9464111328125px;
  }
}

@keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 261.9464111328125px;
    stroke-dasharray: 261.9464111328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 261.9464111328125px;
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-stroke-24 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.76s both;
  animation: animate-svg-stroke-24 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.76s both;
}

@-webkit-keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 159.5225067138672px;
    stroke-dasharray: 159.5225067138672px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 159.5225067138672px;
  }
}

@keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 159.5225067138672px;
    stroke-dasharray: 159.5225067138672px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 159.5225067138672px;
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-stroke-25 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.88s both;
  animation: animate-svg-stroke-25 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 2.88s both;
}